<mat-card class="chat">
  <mat-card-header class="chat__header">
    <mat-card-title class="chat__header_title">General chat</mat-card-title>
  </mat-card-header>
  <mat-card-content class="chat__content">

  </mat-card-content>
  <mat-card-actions class="chat__footer">
    <mat-form-field class="chat__footer_input">
      <input type="text" matInput placeholder="Enter you message">
    </mat-form-field>
    <button mat-button color="primary" class="chat__footer_button">Send</button>
  </mat-card-actions>
</mat-card>
